/*
 * ========================================================================
 * Added by RajasekharC with ref to Modularize view of Header Section  27-02-1017   
 * ========================================================================
 */
@CHARSET "ISO-8859-1";

:root {
	--appColor: #e7a000;
	--LightGrey: #ededed;
	--Grey: #b3b3b3;
	--DarkBlue: #01628f;
	--white: #ffffff;
	--Red: #d92e2c;
}

.r-height {
	height: 60px;
}

.bg-white {
	background-color: white;
}

.pt-4 {
	padding-top: 4%
}

.borderBottom {
	border-bottom: 3px solid var(--appColor);
}

.header-center-col {
	margin-top: 1%;
}

.header-right-col {
	margin-top: 1.5%;
}

.mr-t {
	margin-top: 1.5%;
	/* line-height: 2; */
}

/* jj-mr-10 class added by Shashank Honrao on 27-Nov-2017 */
.jj-mr-10 {
	margin-right: 10px;
}

/* headerIconStyle class added by Shashank Honrao on 27-Nov-2017 */
.headerIconStyle {
	border: 1px solid #ccc;
	padding: 1px 5px;
	border-radius: 5px;
}

/* jj-six-pack class added by Shashank Honrao on 27-Nov-2017 */
.jj-six-pack {
	float: left;
	width: 37px;
	height: 37px;
	background-repeat: no-repeat;
	background-image: url(/CG510_Common_Skin/images/system-zeplin.png);
	background-position: 5px;
	cursor: pointer;
}

.jj-six-pack:hover {
	float: left;
	width: 37px;
	height: 37px;
	background-repeat: no-repeat;
	background-image: url(/CG510_Common_Skin/images/system-zeplin-hover.png);
	background-position: 5px;
	cursor: pointer;
}

/* arrow-task class added by Shashank Honrao on 27-Nov-2017 */
.arrow-task {
	left: 99px;
	top: -18px;
	height: 17px;
	width: 41px;
	height: 15px;
	z-index: 999;
	position: absolute;
	background-image: url(/CG510_Common_Skin/images/Popover_Arrow_Up.png) !important;
}

/* sixPackIconText class added by Shashank Honrao on 27-Nov-2017 */
.sixPackIconText {
	margin-top: 60px;
	margin-left: -1px;
	text-align: center;
}

/* sixPackIconStyle class added by Shashank Honrao on 27-Nov-2017 */
.sixPackIconStyle {
	border: none;
	border-radius: 10px;
	width: 68px !important;
	height: 58px;
	margin: 2px;
}

/* jj-rnd-logo class added by Shashank Honrao on 27-Nov-2017 */
.jj-rnd-logo {
	background-image: url(/CG510_Common_Skin/images/RnDLinksIcon.png) !important;
	width: 68px !important;
	height: 58px;
	background-repeat: no-repeat;
}

/* jj-concerto-logo class added by Shashank Honrao on 27-Nov-2017 */
.jj-concerto-logo {
	background-image: url(/CG510_Common_Skin/images/Concerto_icon.png) !important;
	width: 68px !important;
	height: 58px;
	background-repeat: no-repeat;
	background-color: #209E14;
}

/* jj-rm-logo class added by Shashank Honrao on 27-Nov-2017 */
.jj-rm-logo {
	width: 68px !important;
	height: 58px;
	background-repeat: no-repeat;
	background-image: url(/CG510_Common_Skin/images/RM_Module_icon.png) !important;
}

/* jj-capri-logo class added by Shashank Honrao on 27-Nov-2017 */
.jj-capri-logo {
	background-image: url(/CG510_Common_Skin/images/Capri_icon.png) !important;
	width: 68px !important;
	height: 58px;
	background-repeat: no-repeat;
	background-color: #D92E2C;
}

/* jj-element-logo class added by Shashank Honrao on 27-Nov-2017 */
.jj-element-logo {
	background-image: url(/CG510_Common_Skin/images/Element_icon.png) !important;
	width: 68px !important;
	height: 58px;
	background-repeat: no-repeat;
	background-color: #14969B;
}

/* pad-5 class added by Shashank Honrao on 29-Nov-2017 */
.pad-5 {
	padding: 5px;
}

/* pad-0 class added by Shashank Honrao on 29-Nov-2017 */
.pad-0 {
	padding: 0;
}

/* sixPackImgDiv class added by Shashank Honrao on 29-Nov-2017 */
.sixPackImgDiv {
	width: 100%;
	text-align: center;
}

/* sixPackTextDiv class added by Shashank Honrao on 29-Nov-2017 */
.sixPackTextDiv {
	font-size: 13px;
	width: 100%;
	text-align: center;
}


/* Small Devices, .visible-sm-* */
@media (min-width: 768px) {

	.Icon-BG {
		width: 80px;
		height: 63px;
		background-color: var(--appColor);
	}

	/* Background image changed in Icon class by Shashank Honrao on 15-Nov-2017 */
	.Icon {
		width: 66px;
		height: 60px;
		object-fit: contain;
		background-position: center;
		background-color: var(--appColor);
		background-image: url(../images/profiles_logo_50x50.png);
		background-repeat: no-repeat;
		display: inline-block;
	}

	/* Project-Name class mdified by Shashank Honrao on 17-Nov-2017 */
	.Project-Name {
		font-size: 19px;
		display: inline-block;
		top: -25px;
		position: relative;
		padding-left: 3%;
		text-transform: uppercase;
	}

	/* font-top-align class added by Shashank Honrao on 22-Nov-2017 */
	.font-top-align {
		font-size: 13px;
		top: -2px;
	}

	.Search-dropdown {
		width: 90px;
		height: 33px;
		border-radius: 5px;
		background-color: #ededed;
		background-color: var(--LightGrey);
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
	}

	.Search-Box {
		width: 239px;
		height: 33px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		margin-top: -6px;
		margin-left: -6px;
		padding: 2%;
		font-style: italic;
	}

	.Search-Button {
		width: 41px;
		height: 33px;
		-webkit-transform: rotate(0deg) !important;
		transform: rotate(-180deg);
		border-radius: 0px 7px 7px 0px;
		background-color: #01628f !important;
		background-color: var(--DarkBlue) !important;
		margin-left: -6px;
	}

	.Search-Icon {
		width: 15.7px;
		height: 15.2px;
		object-fit: contain;
		background-color: #01628f;
		background-color: var(--DarkBlue);
		color: var(--white);
	}

	.Squares-align {
		height: 40px;
		width: 23%;
	}

	.RnR-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 0% 6% 19% 11%;
		margin-right: 5%;
	}

	.RnR-Links-glyp {
		top: 12px;
		font-size: 15px;
	}

	.Task-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 0% 0% 19% 0%;
	}

	.Task-Links-glyp {
		top: 13px;
		font-size: 16px;
	}

	.Oval {
		width: 17px;
		height: 17px;
		background-color: #d92e2c;
		background-color: var(--Red);
		padding: 2% 4% 2% 4%;
		border-radius: 100px;
		margin-left: 17px;
	}

	.layer {
		width: 12px;
		height: 11px;
		font-family: ArialMT;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		color: var(--white);
	}

	.User-Icon {
		width: 20px;
		height: 20px;
		object-fit: contain;
		background-image: url("/Header/images/user.png");
		background-repeat: no-repeat;
	}

	.Question-Icon {
		width: 21px;
		height: 21px;
		object-fit: contain;
		background-image: url("/Header/images/question.png");
		background-repeat: no-repeat;
	}

	.header-center-col {
		margin-top: 1.7%;
	}

	.header-right-col {
		margin-top: 2.5%;
	}
}

/* Medium Devices, .visible-md-* */
@media (min-width: 992px) {

	.Icon-BG {
		width: 80px;
		height: 63px;
		background-color: var(--appColor);
	}

	/* Background image changed in Icon class by Shashank Honrao on 15-Nov-2017 */
	.Icon {
		width: 66px;
		height: 60px;
		object-fit: contain;
		background-position: center;
		background-color: var(--appColor);
		background-image: url(../images/profiles_logo_50x50.png);
		background-repeat: no-repeat;
		display: inline-block;
	}

	.Project-Name {
		font-size: 19px;
		display: inline-block;
		top: -25px;
		position: relative;
		padding-left: 3%;
		text-transform: uppercase;
	}

	/* font-top-align class added by Shashank Honrao on 22-Nov-2017 */
	.font-top-align {
		font-size: 13px;
		top: -2px;
	}

	.Search-dropdown {
		width: 90px;
		height: 33px;
		border-radius: 5px;
		background-color: #ededed;
		background-color: var(--LightGrey);
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
	}

	.Search-Box {
		width: 250px;
		height: 33px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		margin-top: -6px;
		margin-left: -6px;
		padding: 2%;
		font-style: italic;
	}

	.Search-Button {
		width: 41px;
		height: 33px;
		-webkit-transform: rotate(0deg) !important;
		transform: rotate(-180deg);
		border-radius: 0px 7px 7px 0px;
		background-color: #01628f !important;
		background-color: var(--DarkBlue) !important;
		margin-left: -6px;
	}

	.Search-Icon {
		width: 15.7px;
		height: 15.2px;
		object-fit: contain;
		background-color: #01628f;
		background-color: var(--DarkBlue);
		color: var(--white);
	}

	.Squares-align {
		height: 40px;
		width: 23%;
	}

	.RnR-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 0% 6% 19% 11%;
		margin-right: 5%;
	}

	.RnR-Links-glyp {
		top: 12px;
		font-size: 15px;
	}

	.Task-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 0% 0% 19% 0%;
	}

	.Task-Links-glyp {
		top: 13px;
		font-size: 16px;
	}

	.Oval {
		width: 17px;
		height: 17px;
		background-color: #d92e2c;
		background-color: var(--Red);
		padding: 2% 4% 2% 4%;
		border-radius: 100px;
		margin-left: 17px;
	}

	.layer {
		width: 12px;
		height: 11px;
		font-family: ArialMT;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		color: var(--white);
	}

	.User-Icon {
		width: 22px;
		height: 22px;
		object-fit: contain;
		background-image: url("/Header/images/user.png");
		background-repeat: no-repeat;
	}

	.Question-Icon {
		width: 22px;
		height: 22px;
		object-fit: contain;
		background-image: url("/Header/images/question.png");
		background-repeat: no-repeat;
	}

	.header-center-col {
		margin-top: 1.3%;
	}

	.header-right-col {
		margin-top: 2%;
	}
}



/* Medium Devices, .visible-md-* */
@media (min-width: 1200px) and (max-width: 1799px) {

	.Icon-BG {
		width: 80px;
		height: 63px;
		background-color: var(--appColor);
	}

	/* Background image changed in Icon class by Shashank Honrao on 15-Nov-2017 */
	.Icon {
		width: 66px;
		height: 60px;
		object-fit: contain;
		background-position: center;
		background-color: var(--appColor);
		background-image: url(../images/profiles_logo_50x50.png);
		background-repeat: no-repeat;
		display: inline-block;
	}

	.Project-Name {
		font-size: 19px;
		display: inline-block;
		top: -25px;
		position: relative;
		padding-left: 3%;
		text-transform: uppercase;
	}

	/* font-top-align class added by Shashank Honrao on 22-Nov-2017 */
	.font-top-align {
		font-size: 13px;
		top: -2px;
	}

	.Search-dropdown {
		width: 145px;
		height: 40px;
		border-radius: 5px;
		background-color: #ededed;
		background-color: var(--LightGrey);
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
	}

	.Search-Box {
		width: 313px;
		height: 40px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		margin-top: -6px;
		margin-left: -6px;
		padding: 2%;
		font-style: italic;
	}

	.Search-Button {
		width: 41px;
		height: 41px;
		-webkit-transform: rotate(0deg) !important;
		transform: rotate(-180deg);
		border-radius: 0px 7px 7px 0px;
		background-color: #01628f !important;
		background-color: var(--DarkBlue) !important;
		margin-left: -6px;
	}

	.Search-Icon {
		width: 15.7px;
		height: 15.2px;
		object-fit: contain;
		background-color: #01628f;
		background-color: var(--DarkBlue);
		color: var(--white);
	}

	.Squares-align {
		height: 40px;
		top: -3px;
	}

	.RnR-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 0% 6% 16% 9%;
		margin-right: 10%;
	}

	.RnR-Links-glyp {
		top: 15px;
		font-size: 18px;
	}

	.Task-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 0% 0% 16% 0%;
	}

	.Task-Links-glyp {
		top: 13px;
		font-size: 15px;
	}

	.Oval {
		width: 17px;
		height: 17px;
		background-color: #d92e2c;
		background-color: var(--Red);
		padding: 2% 4% 2% 4%;
		border-radius: 100px;
		margin-left: 15px;
	}

	.layer {
		width: 12px;
		height: 11px;
		/* font-family: ArialMT; */
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		color: var(--white);
	}

	.User-Icon {
		width: 25px;
		height: 20px;
		object-fit: contain;
		background-image: url("/Header/images/user.png");
		background-repeat: no-repeat;
	}

	.Question-Icon {
		width: 25px;
		height: 20px;
		object-fit: contain;
		background-image: url("/Header/images/question.png");
		background-repeat: no-repeat;
	}

	.pt-2 {
		padding-top: 2%;
	}

	.pt-4 {
		padding-top: 4%;
	}

	.header-center-col {
		margin-top: 1%;
	}

	.header-right-col {
		margin-top: 1.5%;
	}
}

/* Large Devices, .visible-lg-* */
@media (min-width: 1800px) {

	.Icon-BG {
		width: 100px;
		height: 75px;
		background-color: var(--appColor);
		padding: 1% 6%;
	}

	/* Background image changed in Icon class by Shashank Honrao on 15-Nov-2017 */
	.Icon {
		width: 70px;
		height: 64px;
		object-fit: contain;
		background-position: center;
		background-color: var(--appColor);
		background-image: url(../images/profiles_logo_50x50.png);
		background-repeat: no-repeat;
	}

	.Project-Name {
		font-size: 19px;
		display: inline-block;
		top: -25px;
		position: relative;
		padding-left: 3%;
		text-transform: uppercase;
	}

	/* font-top-align class added by Shashank Honrao on 22-Nov-2017 */
	.font-top-align {
		font-size: 13px;
		top: -2px;
	}

	.Search-dropdown {
		width: 180px;
		height: 50px;
		border-radius: 5px;
		background-color: #ededed;
		background-color: var(--LightGrey);
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
	}

	.Search-Box {
		width: 415px;
		height: 50px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		margin-top: -6px;
		margin-left: -6px;
		padding: 2%;
		font-style: italic;
	}

	.Search-Button {
		width: 57px;
		height: 51px;
		-webkit-transform: rotate(0deg) !important;
		transform: rotate(-180deg);
		border-radius: 0px 7px 7px 0px;
		background-color: #01628f !important;
		background-color: var(--DarkBlue) !important;
		margin-left: -6px;
	}

	.Search-Icon {
		width: 15.7px;
		height: 15.2px;
		object-fit: contain;
		background-color: #01628f;
		background-color: var(--DarkBlue);
		color: var(--white);
		font-size: 17px;
	}

	.Squares-align {
		height: 40px;
	}

	.RnR-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 3% 7% 14% 9%;
		margin-right: 10%;
	}

	.RnR-Links-glyp {
		top: 13px;
		font-size: 20px;
	}

	.Task-Links {
		border-radius: 5px;
		border: solid 1px #b3b3b3;
		border: solid 1px var(--Grey);
		padding: 3% 0% 14% 0%;
	}

	.Task-Links-glyp {
		top: 13px;
		font-size: 24px;
	}

	.Oval {
		width: 17px;
		height: 17px;
		background-color: #d92e2c;
		background-color: var(--Red);
		padding: 1% 4% 4% 6%;
		border-radius: 100px;
		margin-left: 26px;
	}

	.layer {
		width: 12px;
		height: 11px;
		font-size: 10px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: normal;
		letter-spacing: normal;
		color: #ffffff;
		color: var(--white);
	}

	.User-Icon {
		width: 25px;
		height: 22px;
		object-fit: contain;
		background-image: url(../images/user.png);
		background-repeat: no-repeat;
	}

	.Question-Icon {
		width: 25px;
		height: 22px;
		object-fit: contain;
		background-image: url(../images/question.png);
		background-repeat: no-repeat;
	}

	.header-center-col {
		margin-top: 1%;
	}

	.header-right-col {
		margin-top: 1.5%;
	}
}

.table-Header {
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 5px;
	display: block;
	padding: 10px 15px;
}

.mr-0 {
	margin-right: 0px !important;
}

.ml-0 {
	margin-left: 0px !important;
}